@tailwind base;
@tailwind components;
@tailwind utilities;

/* Enable drag-and-drop in Tauri */
[draggable="true"] {
  -webkit-user-drag: element;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
}